*.iml
.gradle
/local.properties
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
.DS_Store
/build
/captures
.externalNativeBuild

*.apk
.project
.classpath
local.properties
signing.properties
*.alloc

build/
bin/
gen/
tmp/
proguard/
.settings/
.idea/